{
    "presets": [  // collection of code transform plugins
      ["@babel/preset-env", {   // standard for environment
        "targets": {
          "browsers": [
            "last 5 versions",
            "ie >= 8"
          ]
        }
      }]
    ]
  }